<template>
  <button class="absolute text-4xl w-16 aspect-square rounded-full">{{ text }}</button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    text: String,
  },
  methods: {
  }
});
</script>
