<template>
  <div class="absolute top-0 left-0 w-full h-full" @click="$emit(Event.Cancel)">
    <div
      class="absolute flex flex-col bg-white drop-shadow w-4/5 left-1/2 transform -translate-x-1/2 top-1/2 -translate-y-1/2"
      @click.stop
    >
      <p class="text-2xl">{{ title }}</p>
      <input
        ref="text"
        type="text"
        v-model="text"
        v-on:keyup.enter="$emit(Event.Ok, text)"
        class="text-2xl"
      />
      <div id="to-keep-the-prompt-at-a-fixed-center" class="h-0 bg-inherit">
        <div class="flex flex-col bg-inherit">
          <div>
            <p
              class="text-2xl m-2"
              v-for="suggestion in suggestions"
              @click="acceptSuggestion(suggestion)"
            >{{ suggestion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

enum Event
{
  Ok = 'ok',
  Cancel = 'cancel',
};

export default defineComponent({
  props: {
    title: String,
    dictionary: {
      type: Array as PropType<string[]>,
      default: [],
    }
  },
  data: () =>
  {
    return {
      Event,
      text: '',
    };
  },
  computed: {
    suggestions: function (): string[]
    {
      const { text } = this;

      return (text.length === 0) ? [] : this.dictionary.filter(el => el.includes(text))
    }
  },
  mounted: function ()
  {
    this.$nextTick(() => { this.focusText(); });
  },
  methods: {
    focusText: function ()
    {
      (this.$refs.text as HTMLInputElement).focus();
    },
    acceptSuggestion: function (suggestion: string)
    {
      this.text = suggestion;
      this.focusText();
    },
  },
});
</script>