<template>
  <div class="flex flex-col">
    <div
      v-for="(item, index) in items"
      class="flex justify-between p-2 text-2xl even:bg-slate-100"
      @click="$emit(Event.ClickItem, index)"
    >
      <p>{{ item }}</p>
      <div @click.stop="isInEditMode = !isInEditMode; $emit(Event.EditableChanged, isInEditMode)">
        <div v-if="!isInEditMode" class="flex">
          <button @click="moveTargetIndex = index">═</button>
        </div>
        <div v-else class="flex">
          <button
            @click="$emit(Event.MoveItem, { from: moveTargetIndex!, to: index, placement: Placement.Before })"
          >▲</button>
          <button
            @click="$emit(Event.MoveItem, { from: moveTargetIndex!, to: index, placement: Placement.After })"
          >▼</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { Placement } from '../memoryList'
import { Index } from '../trypescript/numeric';

enum Event
{
  ClickItem = 'clickItem',
  MoveItem = 'moveItem',
  EditableChanged = 'editableChanged',
}

export default defineComponent({
  emits: {
    moveItem: (move: { from: Index, to: Index, placement: Placement }) => true,
    clickItem: (index: Index) => true,
    editableChanged: (editable: boolean) => true,
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    test: Number,
  },
  data: () =>
  {
    return {
      Event,
      Placement,
      isInEditMode: false,
      moveTargetIndex: undefined as undefined | number,
    };
  },
});
</script>
