<template>
  <transition
    class="duration-100"
    enter-from-class="opacity-0"
    enter-to-class="opacity-100"
    leave-to-class="opacity-0"
  >
    <div
      v-if="visible"
      class="absolute flex justify-center pointer-events-none bg-blue-200 left-1/2 transform -translate-x-1/2 px-4 py-1 rounded-full bottom-32"
    >
      <p class="text-2xl whitespace-nowrap">{{ text }}</p>
    </div>
  </transition>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    text: String,
    visible: Boolean,
  },
});
</script>