<template>
  <PromptDialog
    ref="prompt"
    v-if="promptData.visible"
    :title="promptData.title"
    :dictionary="promptData.dictionary"
    @ok="yesPlease"
    @cancel="noPlease"
  />
  <Toast :visible="toastData.visible" :text="toastData.text" />
  <SortableListVue
    class="h-full max-h-full overflow-auto"
    :items="displayList"
    @clickItem="onClickItem"
    @moveItem="onMoveItem"
    @editableChanged="isInEditMode = !isInEditMode"
  />
  <FloatingButton
    v-if="!isInEditMode"
    text="+"
    class="bg-blue-200 text-white bottom-12 right-12"
    @click="onTapAddItem()"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import './App';
import { AppStorage } from './appStorage';
import FloatingButton from './components/FloatingButton.vue';
import PromptDialog from './components/PromptDialog.vue';
import SortableListVue from './components/SortableList.vue';
import Toast from './components/Toast.vue';
import { MemoryList, Placement } from './memoryList';
import { ShoppingListItem } from './shoppingListItem';
import { Storage } from './storage';

interface PromptData
{
  visible: boolean,
  title: string,
  dictionary: string[],
  resolve: (text: string | undefined) => void,
}

interface ToastData
{
  visible: boolean,
  text: string,
  timeout: number | undefined,
}

export default defineComponent({
  components: {
    FloatingButton,
    SortableListVue,
    PromptDialog,
    Toast
  },
  data: () =>
  {
    const fromStorage = AppStorage.update(Storage.read<AppStorage>(AppStorage.default()));

    const list = new MemoryList<ShoppingListItem, string>({
      memory: fromStorage.sortingTable,
      elementToMemoryElement: el => el.name,
    });

    fromStorage.items.forEach(item =>
      list.push(item)
    );

    return {
      list,
      promptData: {
        visible: false,
        title: '',
        dictionary: [],
        resolve: () => { },
      } as PromptData,
      toastData: {
        visible: false,
        text: '',
        timeout: undefined,
      } as ToastData,
      isInEditMode: false,
    };
  },
  computed: {
    displayList: function ()
    {
      return this.list.getList().map(el =>
      {
        const count = (el.quantity !== 1) ? (el.quantity.toString() + ' ') : '';
        return `${count}${el.name}`;
      }
      )
    }
  },
  methods: {
    saveToStorage: function ()
    {
      Storage.write<AppStorage>({
        storageVersion: AppStorage.default().storageVersion,
        items: this.list.getList(),
        sortingTable: this.list.getMemory(),
      });
    },
    yesPlease: function (text: string)
    {
      this.promptData.visible = false;
      this.promptData.resolve(text)
    },
    noPlease: function ()
    {
      this.promptData.visible = false;
      this.promptData.resolve(undefined);
    },
    prompt: async function (title: string, dictionary: string[] = []): Promise<string | undefined>
    {
      const self = this;
      this.promptData.title = title;
      this.promptData.dictionary = dictionary;
      this.promptData.visible = true;

      return new Promise(resolve =>
      {
        self.promptData.resolve = resolve;
      });
    },
    toast: function (text: string)
    {
      if (this.toastData.timeout != null)
      {
        clearTimeout(this.toastData.timeout);
      }

      this.toastData.text = text;
      this.toastData.visible = true;
      this.toastData.timeout = setTimeout(() => (this.toastData.visible = false), 3_000);
    },
    removeItemFromStorage: function (itemName: string)
    {
      if (this.list.forget(itemName))
      {
        this.toast(`Forgot ${itemName}`);
      }
      else
      {
        this.toast(`Did not find ${itemName}`);
      }
    },
    addItem: function (item: ShoppingListItem)
    {
      const found = this.list.getList().find(el => (el.name === item.name));

      if (found != null)
      {
        found.quantity += item.quantity;
        this.toast(`Added ${item.quantity} to ${found.name}`);
      }
      else
      {
        this.list.push(item);
      }
    },
    onConfirmInput: async function (text: string)
    {
      if (text != '')
      {
        if (text.includes('!'))
        {
          this.removeItemFromStorage(text.replace('!', ''));
        }
        else
        {
          this.addItem(ShoppingListItem.parseFromString(text));
        }

        this.saveToStorage();
      }
    },
    onTapAddItem: async function ()
    {
      const text = await this.prompt('Add Item', this.list.getMemory());
      if (text != null)
      {
        this.onConfirmInput(text.trim().toLowerCase());
      }
    },
    onClickItem: function (index: number)
    {
      const elementName = this.list.get(index)!.name;
      this.list.splice(index, 1);
      this.toast(`Removed ${elementName}`);
      this.saveToStorage();
    },
    onMoveItem: function (move: { from: number, to: number, placement: Placement })
    {
      this.list.moveRelative(move);
      this.saveToStorage();
    }
  }
});
</script>